@model Professional_Experience.Models.TermsAndConditionViewModel

@{
    ViewBag.Title = "Terms And Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Terms And Conditions</h2>

<p>@Html.Raw(Model.TermsAndCondition)</p>

@Html.ActionLink("I Accept", "ParticipateTrial", new { id = Model.Id }, new { @class="btn" })