@model Professional_Experience.Models.TermsAndConditionViewModel

@{
    ViewBag.Title = "Accept Terms And Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accept Terms And Conditions</h2>

<p>@Model.TermsAndCondition</p>

@Html.ActionLink("I Accept", "ParticipateTrial", new { id = Model.Id })