
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Participant Dashboard</h2>

@Html.ActionLink("Participate on a Trial", "ParticipateTrialList")<br />
@Html.ActionLink("My Trials", "MyTrials")