@using PagedList.Mvc
@model PagedList.PagedList<PX_Model.Trial>

@{
    ViewBag.Title = "Participate Trial List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Participate Trial List</h2>

@using (Html.BeginForm("SearchTrials", "Participant", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        <input type="text" style="display:inline; margin-left:15px;" placeholder="Search Trial" name="searchWord" class="form-control" />
        <input type="submit" style="padding:6px; width: 100px;" class="btn btn-default" value="Search" />
    </div>
    <input type="hidden" value="false" name="myTrials" />
}

<table class="table table-striped" style="border:1px solid #dddddd;">
    @foreach (var trial in Model)
    {
        <tr>
            <td>
                <h3>@Html.ActionLink(trial.Name, "AcceptTermsAndConditions", new { id = trial.Id })</h3>
                <p>@Html.Raw(trial.Description)</p>
            </td>
        </tr>
    }
</table>

<div style="text-align:center;">
    @Html.PagedListPager(Model, page => Url.Action("MyTrials", new { page = page }))
</div>