@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size:40px;">Research Trial Management System</h1>
    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<h1>Welcome to the RTMS</h1>

<p>
    Research Trail Management System (RTMS) is a major undertaking of UWS Health Informatics Research group.
    This report outlines the purpose of the system with strong attention to Trial Setup and Participant Management module.
</p>