
@{
    ViewBag.Title = "InterventionSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script src="~/Javascript/InterventionSetupApp.js"> </script>
}
<div ng-app="InterventionSetupApp" ng-controller="InterventionSetupController">
    <form>
        <div id="InterventionSetup" ng-show="check(1)">
            <h2>Intervention Setup</h2>

            Name: <input id="interventionName" type="text" ng-model="intervention_name" size="60"/><br />
            Description: <textarea id="interventionDescription" rows="3" cols="40" ng-model="intervention_description"></textarea><br />


            Investigators: <span id="selectedInvestigators" ></span> <br />
            
            <button ng-click="setIndex(2)" class="btn-primary">Edit Investigators</button><br />

            Tests: <br />
            <select id="testSelect" size="8" onchange="checkTestSelect()">
            </select><br />
            <button id="editTestBtn" onclick="editTest()" ng-click="setIndex(3)" class="btn-sm">Edit Test</button>
            <button id="deleteTestBtn" onclick="deleteTest()" class="btn-sm btn-danger">Delete Test</button><br /><br />
            <button onclick="createTest()" ng-click="setIndex(3)" class="btn-sm btn-primary">Create Test</button>
            <button onclick="createExternalTest()" ng-click="setIndex(4)" class="btn-sm btn-default">Create/Edit External Test</button><br /><br />

            <button ng-click="submitIntervention()" class="btn-sm btn-success">Save Intervention</button>
            <input onclick="location.reload()" type="reset" value="Reset" class="btn-sm btn-default" />


        </div>

        <div id="Investigators" ng-show="check(2)" style="display: none;">
            <h2>Investigators</h2>
            <select id="investigatorSelect" size="8" ng-model="investigator.multiSelect" multiple></select><br />
            <button onclick="addInvestigators()" ng-click="setIndex(1)" class="btn-sm btn-success">Save</button>
            <button ng-click="setIndex(1)" class="btn-sm">Back</button>
        </div>

        <div id="Tests" ng-show="check(3)" style="display: none;">
            <h2>Add/Edit Test</h2>

            Name: <input id="testName" type="text" ng-model="test_name" size="60" /><br />
            Description: <textarea id="testDescription" rows="3" cols="40" ng-model="test_description"></textarea><br />
            <select id="questionSelect" size="8"></select><br />
            <button onclick="editQuestion()" ng-click="setIndex(5)" class="btn-sm">Edit Question</button>
            <button id="deleteQuestionBtn" onclick="deleteQuestion()" class="btn-sm btn-danger">Delete Question</button><br /><br />
            <button onclick="createQuestion()" ng-click="setIndex(5)" class="btn-sm btn-primary">Create Question</button><br /><br />
            <button onclick="saveTest()" ng-click="setIndex(1)" class="btn-sm btn-success">Save</button>
            <button onclick="backTest()" ng-click="setIndex(1)" class="btn-sm">Back</button>
        </div>

        <div id="ExternalTest" ng-show="check(4)" style="display: none;">
            <h2>Add/Edit External Test</h2>

            Choose External Test: <select id="externalTestList">
                <option value="mockup">Mockup External Test</option>

            </select><br />
            <input type="checkbox" id="externalQuestion1" value="q1" checked disabled> Question 1 (Mandatory) <br>
            <input type="checkbox" id="externalQuestion2" value="q2"> Question 2 <br>
            <input type="checkbox" id="externalScore1" value="s1"> Score 1 <br>
            <input type="checkbox" id="externalScore2" value="s2"> Score 2 <br>
            <button onclick="saveExternalTest()" ng-click="setIndex(1)" class="btn-sm btn-success">Save</button>
            <button onclick="discaredExternalTest()" ng-click="setIndex(1)" class="btn-sm">Back</button>
        </div>

        <div id="AddQuestion" ng-show="check(5)" style="display: none;">
            <h2>Add/Edit Question</h2>

            Question: <input id="questionTitle" type="text" ng-model="question_title" size="80" /><br />
            Answer Type: <select id="answerType" onchange="questionTypeChange(null)">
                <option value="1">Multiple Choice</option>
                <option value="2">Multiple Answer</option>
                <option value="3">Measurement</option>
                <option value="4">Text Answer</option>
            </select><br />
            Answers: <br /><select id="answersSelect" size="8" ng-model="answers_select" multiple></select><br />
            <button id="deleteAnswerBtn" onclick="deleteAnswer()" class="btn-sm btn-danger">Delete Answer</button><br />
            <select id="measurementType">
                <option value="cm">cm</option>
                <option value="m">m</option>
                <option value="kg">kg</option>
            </select><br />
            <input id="answer" type="text" ng-model="add_answer" size="40" /><br /><button id="addAnswerBtn" onclick="addAnswer()" class="btn-sm btn-primary">Add Answer</button><br /><br />
            <button onclick="saveQuestion()" ng-click="setIndex(3)" class="btn-sm btn-success">Save</button>
            <button onclick="backQuestion()" ng-click="setIndex(3)" class="btn-sm">Back</button>
        </div><br />

        <span id="message" class="success"></span><br /><br />

        {{index}}<br />
        {{interventionObj}}

    </form>
</div>