
@{
    ViewBag.Title = "Clinician";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clinician</h2>

@Html.ActionLink("Create Clinician", "CreateClinician", new { }, new { @class = "btn" })<br />
@Html.ActionLink("Edit Clinician", "EditClinicians", new { }, new { @class = "btn" })