@model IEnumerable<PX_Model.Investigator>

@{
    ViewBag.Title = "Edit Investigator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Investigator</h2>

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Institution</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@Html.ActionLink(string.Format("{0} {1}", i.Person.First_Name, i.Person.Last_Name), "EditInvestigator", new { id = i.Id }, new { @style = "display: block;" })</td>
            <td>@Html.ActionLink(i.Institution, "EditInvestigator", new { id = i.Id }, new { @style = "display: block;" })</td>
            <td>@Html.ActionLink(i.Person.Phone_Number, "EditInvestigator", new { id = i.Id }, new { @style = "display: block;" })</td>
            <td>@Html.ActionLink(i.Person.Email, "EditInvestigator", new { id = i.Id }, new { @style = "display: block;" })</td>
        </tr>
    }
</table>