@model IEnumerable<PX_Model.Trial>

@{
    ViewBag.Title = "General Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>General Report</h2>

<img src="~/Charts/bar.jpg" />

<table style="border: 1px solid; width: 70%;">
    <tr style="border: 1px solid;">
        <th style="border: 1px solid;">Trial Name</th>
        <th style="border: 1px solid;">Number of Participants</th>
    </tr>
    @foreach (var t in Model)
    {
        <tr style="border: 1px solid;">
            <td style="border: 1px solid;">@t.Name</td>
            <td style="border: 1px solid;">@t.Trial_Participant.Count</td>
        </tr>
    }
</table>