@model IEnumerable<PX_Model.Trial>

@{
    ViewBag.Title = "General Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>General Report</h2>

@{
    Random random = new Random();
}

<img src="~/Charts/bar.jpg?r=@random.Next(0, 10000)" />

<table class="table table-striped" style="border:1px solid #dddddd;">
    <tr>
        <th>Trial Name</th>
        <th>Number of Participants</th>
    </tr>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.Name</td>
            <td>@t.Trial_Participant.Count</td>
        </tr>
    }
</table>