
@{
    ViewBag.Title = "Investigator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Investigator</h2>

@Html.ActionLink("Create Investigator", "CreateInvestigator", new { }, new { @class = "btn" })<br />
@Html.ActionLink("Edit Investigator", "EditInvestigators", new { }, new { @class = "btn" })<br />
@Html.ActionLink("Assign Investigator to Trial", "AssignInvestigatorToTrial", new { }, new { @class = "btn" })<br />