
@{
    ViewBag.Title = "Screening Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Screening Criteria</h2>

@Html.ActionLink("Create Screening Criteria", "AddScreeningCriteria")<br />
@Html.ActionLink("Add Screening Criteria to Trial", "AddScreeningCriteriaToTrial")