
@{
    ViewBag.Title = "Screening Criteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Screening Criteria</h2>

@Html.ActionLink("Create Screening Criteria", "AddScreeningCriteria", new { }, new { @class = "btn" })<br />
@Html.ActionLink("Add Screening Criteria to Trial", "AddScreeningCriteriaToTrial", new { }, new { @class = "btn" })