
@{
    ViewBag.Title = "Trial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trial</h2>

@Html.ActionLink("Create Trial", "CreateTrial", new { }, new { @class = "btn" })<br />
@Html.ActionLink("Edit Trial", "EditTrials", new { }, new { @class = "btn" })<br />
@Html.ActionLink("Add Participant to Trial", "AddParticipantToTrial", new { }, new { @class = "btn" })<br />